body {
    margin: 0;
    font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus {
    outline: 0 !important
}

.container {
    max-width: 1200px;
}

a {
    color: #333;
    background-color: transparent
}

a,
a:hover {
    text-decoration: none
}

a:hover {
    color: #a6b3b3
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2
}

.h1,
h1 {
    font-size: 2rem
}

.h2,
h2 {
    font-size: 1.75rem
}

.h3,
h3 {
    font-size: 1.5rem
}

.h4,
h4 {
    font-size: 1.25rem
}

.h5,
h5 {
    font-size: 1.125rem
}

.h6,
h6 {
    font-size: 1rem
}

.navbar-expand .dropdown-hover .dropdown-menu {
    display: none
}

.navbar-expand .dropdown-hover:hover .dropdown-menu {
    display: block
}

.navbar-expand .dropdown-hover:hover .nav-link:before {
    content: "";
    border-bottom: .5rem solid #fff;
    border-top: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}
.dropdown-menu--category{
    width: 500px;
}

.col-6,
.col-7 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0
}

.text-overflow-3-lines {
    -webkit-line-clamp: 3
}

.text-overflow-2-lines,
.text-overflow-3-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.text-overflow-2-lines {
    -webkit-line-clamp: 2
}

.text-overflow-1-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.nh-section .link--see-more {
    display: none
}

.nh-section:hover .link--see-more {
    display: block
}

.page-home .main {
    padding-top: 250px;
    background-image: none;
}

.page-content {
    background-color: #fff;
    padding: 1.25rem;
    position: relative
}

.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.media-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.comment-body,
.media-body,
.nh-read__alert,
.nh-read__content {
    word-break: break-word
}

.shadow {
    -webkit-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .15) !important;
    -moz-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .15) !important;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, .15) !important
}

.svg-icon {
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block
}

.text-overflow-3-lines {
    -webkit-line-clamp: 3
}

.text-overflow-2-lines,
.text-overflow-3-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.text-overflow-2-lines {
    -webkit-line-clamp: 2
}

.text-overflow-1-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.font-weight-semibold {
    font-weight: 600 !important
}

.fz-13 {
    font-size: .8125rem
}

.fz-14 {
    font-size: .875rem
}

.fz-body {
    font-size: .9375rem
}


.nh-list>li>a {
    position: relative;
    padding-left: 1rem
}

.nh-list>li>a:before {
    content: "";
    width: .3125rem;
    height: .3125rem;
    background-color: #666;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0
}

.nh-list>li>a:hover:before {
    background-color: #a6b3b3
}


.text-primary {
    color: #a6b3b3 !important
}

a.text-primary:focus,
a.text-primary:hover {
    color: #7d9090 !important
}

.text-tertiary {
    color: #999 !important
}

a.text-tertiary:focus,
a.text-tertiary:hover {
    color: #737373 !important
}

.border-primary {
    border-color: #a6b3b3 !important
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #fafafa
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eee
}

.book-cover img {
    width: 70px;
    height: 105px;
    outline: 1px solid transparent;
}

.home-ranking-block {
    -webkit-box-shadow: 0 10px 25px 0 #d4e0e0;
    -moz-box-shadow: 0 10px 25px 0 #d4e0e0;
    box-shadow: 0 10px 25px 0 #d4e0e0;
    min-height: 590px
}

.list-ranking .item {
    position: relative;
    padding-left: 2.25rem
}

.list-ranking .item .index {
    font-weight: 600;
    width: 1.5rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 2rem;
    text-align: center
}

.list-ranking .item .content {
    border-bottom: 1px solid #eee
}

.list-ranking .item:last-child .content {
    border-bottom: 0
}

.home-ranking-block .list-ranking .item .index.index-1 {
    bottom: auto;
    top: 1.5rem
}

.book-cover-link {
    position: relative;
    z-index: 10;
    display: inline-block;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.book-cover-link:hover {
    opacity: .8
}

.book-cover img {
    width: 70px;
    height: 105px;
    outline: 1px solid transparent
}

.book-cover {
    -webkit-transform: perspective(70px) rotateY(-10deg);
    -moz-transform: perspective(70px) rotateY(-10deg);
    transform: perspective(70px) rotateY(-10deg)
}

.book-cover:before {
    position: absolute;
    z-index: 3;
    top: 3%;
    left: 10%;
    width: 100%;
    height: 90%;
    background-color: #999
}

.book-cover:after {
    position: absolute;
    z-index: 2;
    top: 2%;
    left: 99%;
    width: 10%;
    height: 96%;
    content: " ";
    -webkit-transform: perspective(70px) rotateY(30deg);
    -moz-transform: perspective(70px) rotateY(30deg);
    transform: perspective(70px) rotateY(30deg);
    background-color: #efefef;
    -webkit-box-shadow: inset 0 0 5px #333;
    -moz-box-shadow: inset 0 0 5px #333;
    box-shadow: inset 0 0 5px #333
}

.book-cover span {
    position: absolute;
    display: none;
    z-index: 1;
    top: 84.1%;
    left: 7px;
    width: 20px;
    height: 10px;
    content: "";
    -webkit-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    -moz-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    -ms-transform: scale(0);
    transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    -webkit-box-shadow: 25px 0 5px 5px #adadad;
    -moz-box-shadow: 25px 0 5px 5px #adadad;
    box-shadow: 25px 0 5px 5px #adadad
}

.cl-black{
    color: black;
    text-decoration: none;
}

.cl-black:hover{
    color: #adadad;
}

.cl-grey{
    color: grey;
    font-weight: normal;
}

.bg-light {
    background-color: #f7f7f7 !important
}


.bg-primary {
    background-color: #a6b3b3 !important
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
    background-color: #8a9c9c !important
}

a.text-success:focus,
a.text-success:hover {
    color: #3f9a94 !important
}

.bg-blue-white {
    background-color: #f7fafa !important
}

.slider-thumb{
    overflow: hidden;
    width: 100% ;
    margin: auto;
}

.loaded{
    visibility: visible;
    position: relative;
    left: -39px;
}

.swiper-container{
    width: 400px !important;
    height: 200px;
}

.swiper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-prev,.swiper-slide-next{
    opacity: 0.5;
}


.slider-thumb .swiper-button-prev,.slider-thumb .swiper-button-next{
    width: 50px;
    height: 50px;
    font-size: 0;
    color: grey;
    background-image: none;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
}



.slider-thumb .swiper-button-prev{
    left: 10%;
}

.slider-thumb .swiper-button-next{
    right: 10%;
}

.slider-info{
    height: max-content;
}


.modal-auth .modal-content {
    overflow: hidden
}

.modal-auth .modal-body {
    padding: 1.5rem 5rem;
    padding-top: 0
}

.modal-auth button.close {
    position: absolute;
    font-size: 1rem;
    color: #666;
    top: .25rem;
    right: .25rem;
    margin: 0;
    outline: 0
}

.btn-block {
    display: block;
    width: 100%
}

.btn-md {
    padding: .5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
    -webkit-border-radius: 1.625rem;
    -moz-border-radius: 1.625rem;
    border-radius: 1.625rem
}

.btn-primary {
    color: #212529;
    background-color: #a6b3b3;
    border-color: #a6b3b3
}

.btn-primary:hover {
    color: #212529;
    background-color: #91a1a1;
    border-color: #8a9c9c
}

.btn-primary.focus,
.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 .2rem hsla(180, 6%, 60%, .5);
    -moz-box-shadow: 0 0 0 .2rem hsla(180, 6%, 60%, .5);
    box-shadow: 0 0 0 .2rem hsla(180, 6%, 60%, .5)
}

.btn-primary .btn-shadow {
    -webkit-box-shadow: 0 3px 4px 0 #ced9d9;
    -moz-box-shadow: 0 3px 4px 0 #ced9d9;
    box-shadow: 0 3px 4px 0 #ced9d9
}

.tr-thumb {
    display: inline-block;
    overflow: hidden;
    position: relative
}

.tr-thumb:before {
    padding-top: 133.333333%;
    content: "";
    display: block
}

.tr-thumb:hover {
    opacity: .9
}

.tr-thumb>img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    min-height: 100%
}

.tr-thumb.tr-thumb--1x1:before {
    padding-top: 100%
}

.tr-thumb.tr-thumb--32 {
    width: 32px
}

.tr-thumb.tr-thumb--50 {
    width: 50px
}

.tr-thumb.tr-thumb--72 {
    width: 72px
}

.tr-thumb.tr-thumb--90 {
    width: 90px
}

.tr-thumb.tr-thumb--210 {
    width: 210px
}

.tr-thumb.tr-thumb--150 {
    width: 150px
}

.tr-thumb img {
    width: 100%;
    height: auto
}

.nh-avatar {
    position: relative
}

.nh-avatar.nh-avatar--90 {
    width: 90px
}

.nh-avatar.nh-avatar--45 {
    width: 45px
}

.nh-avatar.nh-avatar--30 {
    width: 30px
}

.nh-avatar.nh-avatar--24 {
    width: 1.5rem
}
.nh-avatar>img {
    max-width: 100%;
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.nh-avatar .level {
    position: absolute;
    bottom: -.125rem;
    line-height: 1.5;
    padding: 0 .75rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap
}